body {
  background-image: url("chungus.png");
  background-color: orange;
  background-blend-mode: color-burn;
}

#leftflag {
  float: left;
  background: Red;
  width: 33.3%;
  height: 750px;
  position: relative;
  animation-name: frenchAttack1;
  animation-duration: 4s;
  cursor: pointer;
}

#middleflag {
  float: left;
  background: white;
  width: 33.3%;
  height: 750px;
  position: relative;
  animation-name: frenchAttack2;
  animation-duration: 4s;
  cursor: pointer;
}

#rightflag {
  float: right;
  background: blue;
  width: 33.4%;
  height: 750px;
  position: relative;
  animation-name: frenchAttack1;
  animation-duration: 4s;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: blue;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(3, 232, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: red;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(3, 232, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(3, 232, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content1 {
  display: block;
}

.dropdown:hover .dropdown-content2 {
  display: block;
}

.dropdown:hover .dropdown-content3 {
  display: block;
}

@keyframes frenchAttack1 {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: left:200px;
    top: 0px;
  }

  50% {
    background-color: left:200px;
    top: 200px;
  }

  75% {
    background-color: left:0px;
    top: 200px;
  }

  100% {
    background-color: left:0px;
    top: 0px;
  }
}

@keyframes frenchAttack2 {
  0% {
    background-color: white;
    left: 0;
    top: 200px;
  }

  50% {
    background-color: left:200px;
    top: 200px;
  }

  75% {
    background-color: left:0px;
    top: 200px;
  }

  100% {
    background-color: left:0px;
    top: 0px;
  }
}

h1 {
  color: purple
}

p {
  text-shadow: 1px 1px;
  font-style: italic;
  line-height: 20px;
}

#gradient {
  height: 500px;
  background-image: linear-gradient(blue, green);
  border-radius: 50px;
  font-size: 30px;
}
.redDerp
{
  min-width: 430px;
  min-height: 700px;
  border-radius: 1200px;
  background-color: red;
}
.blueDerp
{
  min-width: 430px;
  min-height: 700px;
  border-radius: 1200px;
  background-color: blue;
}
.greenDerp
{
  min-width: 430px;
  min-height: 700px;
  border-radius: 1200px;
  background-color: green;
}
.yellowDerp
{
  min-width: 430px;
  min-height: 700px;
  border-radius: 1200px;
  background-color: yellow;
}
.redLight
{
  min-width: 430px;
  min-height: 700px;
  border-radius: 1200px;
  background-image: linear-gradient(red, white)
}
.yellowLight
{
  min-width: 430px;
  min-height: 700px;
  border-radius: 1200px;
  background-image: linear-gradient(yellow, white)
}

.blueLight
{
  min-width: 430px;
  min-height: 700px;
  border-radius: 1200px;
  background-image: linear-gradient(blue, white)
}

.greenLight
{
  min-width: 430px;
  min-height: 700px;
  border-radius: 1200px;
  background-image: linear-gradient(green, white)
}
.startButton
{
  font-size: 50px;
  color:green;
  min-width: 430px;
  min-height: 400px;
  border-radius: 0px;
  background-image: linear-gradient(orange, white)
}
.score
{
  font-size: 50px;
  color:black;
  min-width: 430px;
  min-height: 400px;
  border-radius: 0px;
  float: right;
  background-image: linear-gradient(orange, white)
}
